.container {
    

    min-height: 100vh;
 
  
 
   
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./pwu0p1bq.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4; /* Adjust the opacity here */
    z-index: -1; /* Ensure the background is behind the content */
}